@using System.Collections
@using MedUA.Helpers
@model MedUA.Models.EntryHistoryViewModel
<div id="new-entry-ajax-form">
    @if (Model == null)
    {
        <script>
            $(document).ready(function () {
                location.reload();
            });
        </script>
    }
    else
    {
        using (Ajax.BeginForm("SaveNewEntry", new { @class = "form-horizontal", role = "form" }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "new-entry-ajax-form", OnSuccess = "OnSuccess()" }))
        {
            @Html.AntiForgeryToken()
            {
                @Html.HiddenFor(modelItem => modelItem.PatientId)
                @Html.HiddenFor(modelItem => modelItem.TimeStampDateTime)
                <div id="add">
                    @Html.PatientHistory(Html.LabelFor(model => model.TimeStamp), mvcHtmlString: @Html.DisplayFor(modelItem => modelItem.TimeStamp, new { @class = "col-md-10" }))
                    @Html.PatientHistory(Html.LabelFor(model => model.Complains), mvcHtmlString: Html.TextAreaFor(model => Model.Complains, new { @class = "form-control multiline", rows = 4 }))
                    @Html.PatientHistory(Html.LabelFor(model => model.Examination), mvcHtmlString: Html.TextAreaFor(model => Model.Examination, new { @class = "form-control multiline", rows = 4 }))
                    @Html.PatientHistoryWrapWithDiv(Html.LabelFor(model => model.ResearchIds), mvcHtmlString: @Html.DropDownListFor(model => model.ResearchIds, (IEnumerable<SelectListItem>)ViewBag.ResearchesList, new { @class = "multiline control-select form-control", multiple = "multiple" }))
                    @Html.PatientHistory(Html.LabelFor(model => model.Recomendations), mvcHtmlString: Html.TextAreaFor(modelItem => Model.Recomendations, new { @class = "form-control multiline", rows = 4 }))
                    @Html.PatientHistory(Html.LabelFor(model => model.Diagnosis), mvcHtmlString: Html.TextBoxFor(modelItem => Model.Diagnosis, new { @class = "form-control multiline" }))
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value=@MedUA.Resources.Resource.NewEntryViewSave />
                        <input type="reset" class="btn btn-default" value=@MedUA.Resources.Resource.NewEntryViewCancel onclick="HideAddSection();" />
                    </div>
                </div>
            }
        }
        <script src="~/Content/selectize/_plug.min.js"></script>
    }

</div>
