@model MedUA.Models.IndexViewModel
@{
    ViewBag.Title = MedUA.Resources.Resource.ManageViewSettings;
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@MedUA.Resources.Resource.ManageViewChangeYourAccountSettings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@MedUA.Resources.Resource.ManageViewPassword</dt>
        <dd>
            [
            @(Model.HasPassword ? Html.ActionLink(@MedUA.Resources.Resource.ManageViewChangeYourPassword, "ChangePassword") : Html.ActionLink("Create", "SetPassword"))
            ]
        </dd>
    </dl>
</div>
