@model MedUA.Models.NewAppointmentPartial
@using (Ajax.BeginForm("SaveResearchAppointment", new { }, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "SaveResearchSuccess", OnFailure = "SaveResearchError" }, new { id = "saveResearchForm" + @Model.HospitalResearchId }))
{
    @Html.HiddenFor(model => model.PatientId)
    @Html.HiddenFor(model => model.HospitalResearchId)
    <div class="col-md-3">
        @Html.DropDownListFor(model => Model.Date, Model.Dates, new { @class = "form-control", id = "appointmentDates" + @Model.HospitalResearchId, onchange = "DateChange(" + Model.HospitalResearchId + ")" })
    </div>
    <div class="col-md-3">
        @Html.DropDownListFor(model => Model.Time, Model.Times, new { @class = "form-control", id = "appointmentTimes" + @Model.HospitalResearchId })
    </div>
    <div class="col-md-2">
        <input type="submit" value="@MedUA.Resources.Resource.NewAppointmentRegister" class="btn btn-default form-control"/>
    </div>
}
