@using MedUA.Helpers
@model MedUA.Models.EntryHistoryViewModel
@*<form class="form-horizontal form-group" role="form" id="saveEntryForm" method="post">*@
@using (Ajax.BeginForm("SaveNewEntry", "Doctor", new { }, new AjaxOptions() { HttpMethod = "POST" }, new { @class = "form-horizontal", id = "saveEntryForm", method = "post" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(modelItem => modelItem.PatientId)
    @Html.HiddenFor(modelItem => modelItem.TimeStampDateTime)
    @Html.PatientHistory(Html.LabelFor(model => model.TimeStamp, new { @class = "control-label col-md-2" }), mvcHtmlString: Html.LabelForModel(Model.TimeStamp, new { @class = "control-label" }))
    @Html.PatientHistory(Html.LabelFor(model => model.Complains, new { @class = "control-label col-md-2" }), mvcHtmlString: Html.TextAreaFor(model => Model.Complains, new { @class = "form-control multiline col-md-10", rows = 4 }))
    @Html.PatientHistory(Html.LabelFor(model => model.Examination, new { @class = "control-label col-md-2" }), mvcHtmlString: Html.TextAreaFor(model => Model.Examination, new { @class = "form-control multiline col-md-10", rows = 4 }))
    @Html.PatientHistory(Html.LabelFor(model => model.Recomendations, new { @class = "control-label col-md-2" }), mvcHtmlString: Html.TextAreaFor(modelItem => Model.Recomendations, new { @class = "form-control multiline col-md-10", rows = 4 }))
    @Html.PatientHistory(Html.LabelFor(model => model.Diagnosis, new { @class = "control-label col-md-2" }), mvcHtmlString: Html.TextBoxFor(modelItem => Model.Diagnosis, new { @class = "form-control multiline col-md-10" }))

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="saveEntryButton" type="button" class="btn btn-default" value=@MedUA.Resources.Resource.NewEntryViewSave>
            <input id="resetButton" type="button" class="btn btn-default" value=@MedUA.Resources.Resource.NewEntryViewCancel />
        </div>
    </div>
}

