@using System.Web.Mvc.Html
@using MedUA.Models

@model EntryHistoryViewModelList
@{
    ViewBag.Title = MedUA.Resources.Resource.PatientHistoryFormTitle;
}
@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
<ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#entries">Home</a></li>
    <li><a data-toggle="pill" href="#researches">Menu 1</a></li>
</ul>

<div class="tab-content">
    <div id="entries" class="tab-pane fade in active">
        <div class="col-md-10">
            <a id="addEntryLink" onclick="ShowAddSection()">@MedUA.Resources.Resource.PatientHistoryFormAddEntry</a>
        </div>
        <div class="col-md-2">
            <a id="showAllEntries" class="patient-history-link">@MedUA.Resources.Resource.PatientHistoryFormAllEntries</a>
            <a id="showEntries" class="patient-history-link" style="display:none">@MedUA.Resources.Resource.PatientHistoryFormMyEntries</a>
        </div>
        <div id="add-section" style="display:none">
            @{ Html.RenderPartial("NewEntryPartial", new EntryHistoryViewModel() { TimeStampDateTime = DateTime.Now, PatientId = Model.PatientId }); }
        </div>
        <div id="patients-id">
            @{ Html.RenderPartial("PatientHistoryPartial", Model.EntryHistory);}
        </div>
        <input type="hidden" id="direction" value="1" />
        <input type="hidden" id="filteredByDoctor" value="true" />
        <a id="showMoreLink">@MedUA.Resources.Resource.ShowMoreEntriesLink</a>
    </div>

    <div id="researches" class="tab-pane fade">
        <div class="col-md-10">
            <a id="addResearchLink" onclick="ShowResearchSection()">@MedUA.Resources.Resource.PatientHistoryFormAddResearch</a>
        </div>
        <div id="add-research" style="display:none">
            @{ Html.RenderPartial("NewResearchPartial", new ResearchPatientViewModel() { Regions = Model.Regions, ResearchPickViewModel = new ResearchPickViewModel() { ResearchesList = Model.ResearchList, PatientId = Model.PatientId } });}
        </div>
        <div id="researches-id">
            @{ Html.RenderPartial("ResearchHistoryPartial", Model.ResearchHistory);}
        </div>
        <input type="hidden" id="page" value="1" />
        <a id="showMoreResearchLink">@MedUA.Resources.Resource.ShowMoreEntriesLink</a>
    </div>
</div>


<script src="~/Scripts/patient-history.js"></script>
<script>
    $("#showAllEntries").click(function () {
        RefreshPatientHistory(patientUrl(), false, CurrentPage(), 0);
        $('.patient-history-link').toggle();
        $('#filteredByDoctor').val(false);
    });

    $("#showEntries").click(function () {
        RefreshPatientHistory(patientUrl(), true, CurrentPage(), 0);
        $(".patient-history-link").toggle();
        $('#filteredByDoctor').val(true);
    });

    $("#showMoreLink").click(function () {
        debugger;
        var page = CurrentPage();
        RefreshPatientHistory(patientUrl(), IsFiltered(), page + 1, page);
    });
    $("#showMoreResearchLink").click(function () {
        debugger;
        var value = $("#page").val();
        var page = parseInt(value);
        RefreshResearchHistory(researchUrl(), page + 1, page);
    });
    $("#saveEntryButton").click(function (e) {
        debugger;
        e.preventDefault();
        SaveEntry($("#saveEntryForm")[0], validationFields());
    });

    $("#resetButton").click(function () {
        debugger;
        Reset($('#saveEntryForm')[0], validationFields());
    });

    $("#selectRegion").change(function () {
        debugger;
        document.getElementById("selectResearch").disabled = true;
        $.ajax({
            url: '@Url.Action("LoadResearchPickPartial", "Doctor")' + '?patientId=@Model.PatientId&scope=' + this.value,
            type: "post",
            success: function (html) {
                $("#selectResearchPart").html($(html));
            },
            error: function (jqXHR, exception) {
                if (error == undefined) {
                    HandleError(jqXHR, exception);
                } else {
                    error(jqXHR, exception);
                }
            }
        });
    });
    function validationFields() {
        return ['Complains', 'Examination', 'Recomendations'];
    }

    function patientUrl() {
        return '@Url.Action("PatientHistory", "Doctor", new { patientId  = Model.PatientId})';
    }
    function researchUrl() {
        return '@Url.Action("ResearchHistory", "Doctor", new { patientId  = Model.PatientId})';
    }
</script>
