@using System.Web.Mvc.Ajax
@using MedUA.Models
@model MedUA.Models.ResearchesPartialViewModelList
@if (Model != null)
{
    <div class="row">
        <div class="col-md-3">@Html.LabelFor(model => Model.First().HospitalName)</div>
        <div class="col-md-3">@Html.LabelFor(model => Model.First().HospitalAddress)</div>
        <div class="col-md-3">@Html.LabelFor(model => Model.First().ResearchName)</div>
        <div class="col-md-3">@Html.LabelFor(model => Model.First().Price)</div>
    </div>
    for (var index = 0; index < Model.Count; index++)
    {
        var researchViewModel = Model[index];
        <div class="row btn-link" onclick="OpenClose('@index')">
            <div class="col-md-3">@Html.DisplayFor(model => researchViewModel.HospitalName)</div>
            <div class="col-md-3">@Html.DisplayFor(model => researchViewModel.HospitalAddress)</div>
            <div class="col-md-3">@Html.DisplayFor(model => researchViewModel.ResearchName)</div>
            <div class="col-md-3">@Html.DisplayFor(model => researchViewModel.Price)</div>
        </div>
        <div class="slidingDiv row" id='@index' style="display: none">
            @{ Html.RenderPartial("NewAppointmentPartial", new NewAppointmentPartial() { Dates = researchViewModel.Dates, HospitalResearchId = researchViewModel.ResearchHospitalId, PatientId = Model.PatientId, Times = researchViewModel.Times }); }
        </div>
                    }
                }